<?xml version="1.0" encoding="utf-8"?> 
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
			"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<!-- 1.namespace不能重复
	 2.如果有映射 那么映射接口的全类名必须和namespace一致 -->
	<mapper namespace="com.briup.dao.ICustomerMapper"> 
		<insert id="saveCustomer" parameterType="Customer">
		insert into customer1808(id,username,password,dob,address) values(#{id},#{username},#{password},#{dob},#{address})
		</insert>
		<select id="selectCustomerId" resultType="Customer" parameterType="int">
		select * from customer1808 where id=#{id}
		</select>		
		<insert id="insertStudent" parameterType="Student"> 
			<selectKey keyProperty="id" resultType="int" order="BEFORE"> 
				select customer1808_seq.nextval from dual  
			</selectKey> 
			 	insert into customer1808(id,username,password,dob,address) values(#{id},#{username},#{password},#{dob},#{address}) 
		</insert> 
		
	</mapper> 